<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Model.Properties.Settings.stringConexao" connectionString="Data Source=LOCALHOST;Initial Catalog=CRUD_Aluno_Procedures;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>